header{
    position: sticky;
    top: 5px;
    display: flex;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
}

#nav-header{
    flex: 1;
    margin: 5px;
}

h1{
    flex: 2;
    margin-left: 5px;
}